# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
/node_modules

# Build outputs
/build
/.vercel
/.netlify

# Sanity Studio cache and output
.sanity
.sanity-cache
.sanity-temp
/dist

# System files
.DS_Store

# Environment variables
.env
.env.*.local

# Logs
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Misc
*.local
*.log